.container {
  &-aboutme {
    display: grid;
    grid-template-columns: 400px 570px;
    grid-template-rows: minmax(243px, auto) minmax(253px, auto);
    column-gap: 70px;
    row-gap: 40px;
    grid-template-areas:
    "first second"
    "first third";
  }
}
.aboutme {
  padding-top: 120px;
  position: relative;
  &__item {
    padding-top: 2px;
    .divider {
      margin: 0 auto 20px 0;
    }
    &__subtitle {
      position: relative;
      color: #000;
      @include before_circle;
      padding-left: 10px;
      z-index: 2;
      &_second {
        position: relative;
        padding-left: 54px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 36px;
          height: 36px;
          border-radius: 100%;
          background-color: $main-color;
        }
      &_icon {
        position: absolute;
        z-index: 3;
        padding-left: 15px;
        transform: translateY(15px);
      }
      }
    }
    &__img {
      width: 100%;
    }
    &__descr {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      &_second {
        color: #000;
        font-size: 12px;
        font-weight: 500;
        padding-left: 54px;
      }
    }
  }
}


#first {
  grid-area: first;
}
#second {
  grid-area: second;
  padding-top: 7px;
}
#third {
  grid-area: third;
  display: grid;
  grid-template: repeat(2, minmax(116px, auto)) / repeat(2, 260px);
  row-gap: 20px;
  column-gap: 50px;
}
