@media(max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}

@media(max-width: 1200px) {
  .container {
    max-width: 960px;
    &-aboutme {
      grid-template-columns: 400px 520px;
      column-gap: 40px
    }
    &-use {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-between;
      grid-auto-rows: minmax(270px, auto);
    }
  }
  #third {
    column-gap: 20px;
    grid-template: repeat(2, minmax(116px, auto))/repeat(2, 250px);
  }
  .resume {
    &__wrapper {
      padding: 40px 0 0 48px;
      grid-template-columns: repeat(2, 410px);
      column-gap: 60px;
    }
  }
  .scales {
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-between;
    grid-auto-rows: minmax(70px, auto);
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      justify-content: space-around;
      row-gap: 35px;
      .horizontal, .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
    &__item {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .price {
    &__wrapper {
      padding: 0;
    }
  }
  .contacts {
    &__photo {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &__wrapper {
      grid-template-columns: 345px 585px;
      column-gap: 10px;
      padding: 0;
    }
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 720px;
    &-aboutme {
      grid-template-columns: 325px 380px;
      row-gap: 20px;
      column-gap: 15px;
      row-gap: 40px;
    }
  }
  .title {
    &_fs36 {
      font-size: 30px;
    }
  }
  .aboutme {
    padding-top: 75px;
    &__item {
      .divider {
        margin-bottom: 5px;
      }
      &__img {
        height: 100%;
      }
      &__descr {
        &_second {
          font-size: 12px;
        }
      }
    }
  }
  #third {
    row-gap: 20px;
    grid-template-columns: 380px;
    grid-template-rows: repeat(3, 67px);
    grid-auto-rows: minmax(115px, auto);
  }
  .resume {
    &__wrapper {
      padding-left: 160px;
      grid-template-columns: 410px;
    }
  }
  .scales {
    justify-content: center;
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 350px);
      margin: 60px 0 0 0;
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 596px;
      row-gap: 15px;
    }
  }
}

@media(max-width: 768px) {
  .container {
    max-width: 540px;
    &-aboutme {
      grid-template-columns: 540px;
      grid-template-rows: 400px auto auto;
      grid-template-areas:
      "first"
      "second"
      "third";
    }
    &-use {
      margin-top: 40px;
      justify-content: center;
    }
  }
  .title {
    &__fs48 {
      font-size: 28px;
    }
  }
  .promo {
    &__title {
      width: 300px;
      line-height: 39px;
    }
  }
  .aboutme {
    &__item {
      &__img {
        object-fit: cover;
      }
    }
  }
  #third {
    row-gap: 30px;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(2, 90px);
  }
  .resume {
    &__wrapper {
      padding-left: 40px;
    }
  }
  .scales {
    margin-top: 70px;
  }
  .portfolio {
    padding-top: 40px;
    &__wrapper {
      margin-top: 40px;
    }
  }
  .price {
    padding-top: 40px;
    &__wrapper {
      margin-top: 20px;
      justify-content: center;
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 540px;
    }
    &__form {
      grid-template-columns: 245px;
    }
  }
}

@media(max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    &-aboutme {
      grid-template-columns: 1fr;
      grid-template-rows: 340px auto auto;
      row-gap: 20px;
    }
    &-use {
      margin-top: 20px;
    }
  }
  .title {
    &__fs48 {
      font-size: 26px;
    }
    &__section {
      &-title {
      line-height: 37px;
      }
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    &__btns {
      margin-top: 30px;
    }
  }
  #second {
    margin-top: 20px;
  }
  #third {
    grid-template-columns: 260px;
  }
  .title {
    &__fs36 {
      font-size: 24px;
    }
  }
  .aboutme {
    &__item {
      .divider {
        margin-bottom: 20px;
      }
    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      padding: 30px 0 0 0;
      grid-template-columns: 1fr;
    }
  }
  .divider {
    margin-top: 15px;
  }
  .use {
    padding-top: 40px;
  }
  .scales {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, 300px);
    &__item {
      &_line {
        width: 300px;
      }
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 295px);
    }
  }
  .contacts {
    &__photo {
      display: none;
    }
    &__wrapper {
      grid-template: 1fr / 1fr;
    }
    &__form {
      grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }
    &__textarea {
      width: 100%;
      grid-column: unset;
    }
    &__triggers {
      grid-column: unset;
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 20px;
    }
    &__btn {
      order: 2;
      max-width: 220px;
      margin: 0 auto;
    }
    &__policy {
      width: 180px;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}
