.price {
  padding-top: 60px;
  &__wrapper {
    margin: 60px;
    padding: 0 60px;
    display: grid;
    grid-template-rows: repeat(3, minmax(45px, auto));
    grid-template-columns: repeat(2, 365px);
    row-gap: 15px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, minmax(21px, auto));
    grid-template-columns: repeat(2, auto);
    row-gap: 5px;
    padding-left: 25px;
    &_subtitle {
      position: relative;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      @include before_circle;
      z-index: 2;
      &:before {
        content: '';
        position: absolute;
        left: -25px;
        top: 4px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $main-color;
      }
    }
    &_number {
      color: #000;
      font-size: 14px;
      font-weight: 700;
      justify-self: end;
      grid-column: 2 /4;
    }
    &_descr {
      color: #000;
      font-size: 12px;
      font-weight: 500;
      grid-column: 1 /4;
    }
  }
}
