.promo {
  min-height: 100vh;
  position: relative;
  background: url('../img/DSC07314.jpg') no-repeat 50%/cover;
  padding-top: 205px;
  &__title {
    width: 535px;
    margin-top: 10px;
  }
  &__subtitle {
    position: relative;
    @include before_circle;
    padding-left: 10px;
    z-index: 2;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
  }
  &__link {
    color: $second-color;
    font-weight: bold;
    &:hover {
      color:#ffffff;
      text-decoration: none;
    }
  }
}
